In [280]:
train = pd.read_csv('Train/Train.csv')
health_camps = pd.read_csv('Train/Health_Camp_Detail.csv')
patient_profile = pd.read_csv('Train/Patient_Profile.csv')
first = pd.read_csv('Train/First_Health_Camp_Attended.csv')
second = pd.read_csv('Train/Second_Health_Camp_Attended.csv')
third = pd.read_csv('Train/Third_Health_Camp_Attended.csv')

test = pd.read_csv('test_l0Auv8Q.csv')

##### Patient Profile Data

In [281]:
patient_profile = patient_profile.replace('None', np.nan)

patient_profile['First_Interaction'] = pd.to_datetime(patient_profile['First_Interaction'])

In [282]:
# handling NaN columns, Income, Education_Score, Age, City_Type and Employer_Category

# numerical columns
numerical_cols = ['Income', 'Education_Score', 'Age']

for i in numerical_cols:
    patient_profile[i] = patient_profile[i].astype(float)
    patient_profile[i].fillna(patient_profile[i].mean(), inplace=True)
    
categorical_cols = ['City_Type','Employer_Category']

for i in categorical_cols:
    patient_profile[i].fillna('NaN', inplace=True)

In [283]:
# patient_profile.isna().sum()
# patient_profile.dtypes

#### Health Camp Data

In [284]:
health_camps['Camp_Start_Date'] = pd.to_datetime(health_camps['Camp_Start_Date'])
health_camps['Camp_End_Date'] = pd.to_datetime(health_camps['Camp_End_Date'])

#### Train Data

In [285]:
train['Registration_Date'] = pd.to_datetime(train['Registration_Date'])

test['Registration_Date'] = pd.to_datetime(test['Registration_Date'])

In [286]:
# dropping data points where Registration_Date is NaN
train.shape
train = train.dropna().reset_index(drop=True)
train.shape

(75278, 8)

(74944, 8)

### Merging the datasets

In [287]:
train.shape
train = train.merge(patient_profile, on=['Patient_ID'], how='left')
train.shape

train.shape
train = train.merge(health_camps, on=['Health_Camp_ID'], how='left')
train.shape

(74944, 8)

(74944, 18)

(74944, 18)

(74944, 23)

In [288]:
test.shape
test = test.merge(patient_profile, on=['Patient_ID'], how='left')
test.shape

test.shape
test = test.merge(health_camps, on=['Health_Camp_ID'], how='left')
test.shape

(35249, 8)

(35249, 18)

(35249, 18)

(35249, 23)

In [289]:
first['First_Favorable'] = 1
second['Second_Favorable'] = 1
third['Third_Favorable'] = 1

train.shape

train = train.merge(first[['Patient_ID','Health_Camp_ID','First_Favorable']], 
                              on=['Patient_ID','Health_Camp_ID'], how='left')

train = train.merge(second[['Patient_ID','Health_Camp_ID','Second_Favorable']], 
                              on=['Patient_ID','Health_Camp_ID'], how='left')

train = train.merge(third[['Patient_ID','Health_Camp_ID','Third_Favorable']], 
                              on=['Patient_ID','Health_Camp_ID'], how='left')

train.shape

(74944, 23)

(74944, 26)

In [290]:
# # Validating data correctness
# for i in ['First','Second','Third']:    
#     train[~train[i+'_Favorable'].isnull()]['Category1'].unique()

# for i in ['First','Second','Third']:    
#     train[train['Category1'] == i]['First_Favorable'].unique()
#     train[train['Category1'] == i]['Second_Favorable'].unique()
#     train[train['Category1'] == i]['Third_Favorable'].unique()

In [291]:
train['Interaction_to_Registration'] = (train['Registration_Date'] - train['First_Interaction']).dt.days
train['Registration_to_Camp_Start_Date'] = (train['Camp_Start_Date'] - train['Registration_Date']).dt.days
train['Registration_to_Camp_End_Date'] = (train['Camp_End_Date'] - train['Registration_Date']).dt.days

test['Interaction_to_Registration'] = (test['Registration_Date'] - test['First_Interaction']).dt.days
test['Registration_to_Camp_Start_Date'] = (test['Camp_Start_Date'] - test['Registration_Date']).dt.days
test['Registration_to_Camp_End_Date'] = (test['Camp_End_Date'] - test['Registration_Date']).dt.days

Combining First and Second as one classification problem and the third as another

In [292]:
# first or second favorable
train.loc[(train['First_Favorable'] == 1) | (train['Second_Favorable'] == 1), 'Target_1'] = 1
train['Target_1'].fillna(0, inplace=True)

# third favorable
train['Target_2'] = train['Third_Favorable'].fillna(0)

In [293]:
drop_cols = ['Registration_Date','First_Interaction','Camp_Start_Date','Camp_End_Date',
             'First_Favorable','Second_Favorable','Third_Favorable']

train = train.drop(columns=drop_cols)

test = test.drop(columns=['Registration_Date','First_Interaction','Camp_Start_Date','Camp_End_Date'])

In [295]:
train.to_csv('Interm/train.csv', index=0)
test.to_csv('Interm/test.csv', index=0)

In [296]:
train

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,City_Type,Employer_Category,Category1,Category2,Category3,Interaction_to_Registration,Registration_to_Camp_Start_Date,Registration_to_Camp_End_Date,Target_1,Target_2
0,489652,6578,4,0,0,0,2,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Third,G,2,278,-25,34,0.0,1.0
1,507246,6578,45,5,0,0,7,0,0,0,0,1.000000,75.000000,40.000000,C,Others,Third,G,2,344,-2,57,0.0,0.0
2,523729,6534,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,676,-194,557,1.0,0.0
3,524931,6535,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,I,NaN,First,E,2,0,-6,11,0.0,0.0
4,521364,6529,15,1,0,0,7,0,0,0,1,1.000000,70.000000,40.000000,I,Technology,Second,A,2,970,30,34,1.0,0.0
5,494493,6570,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,E,2,474,50,63,0.0,0.0
6,523001,6562,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,F,2,45,-179,11,0.0,0.0
7,500733,6535,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,D,NaN,First,E,2,314,1,18,0.0,0.0
8,501155,6538,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,B,NaN,First,F,2,0,-22,370,0.0,0.0
9,501457,6538,0,0,0,0,0,0,0,0,0,0.000000,78.231288,49.129811,B,NaN,First,F,2,562,-216,176,0.0,0.0
10,505849,6527,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,A,NaN,Third,G,2,1,-6,33,0.0,1.0
11,517088,6585,6,1,0,0,4,0,0,0,0,1.077717,78.231288,49.129811,E,NaN,First,E,2,265,22,35,0.0,0.0
12,506153,6534,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,2,-159,592,1.0,0.0
13,504219,6539,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,F,2,0,-57,132,0.0,0.0
14,520462,6543,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,F,2,7,-459,312,0.0,0.0
15,502400,6536,0,0,0,0,0,1,1,1,0,0.000000,78.231288,50.000000,C,NaN,Second,D,2,353,14,17,1.0,0.0
16,506832,6570,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,E,2,168,69,82,0.0,0.0
17,495471,6570,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,E,2,674,62,75,0.0,0.0
18,503580,6554,0,0,0,0,0,0,0,0,0,1.000000,82.000000,40.000000,E,Consulting,First,B,2,190,27,39,1.0,0.0
19,489104,6527,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Third,G,2,87,-20,19,0.0,1.0
20,514205,6571,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,E,2,18,24,27,0.0,0.0
21,486243,6526,1,0,0,0,0,0,0,0,0,1.077717,78.231288,41.000000,B,NaN,First,E,2,498,32,80,0.0,0.0
22,496155,6541,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Third,G,2,307,15,73,0.0,0.0
23,527268,6528,0,0,0,0,0,0,0,0,0,0.000000,78.231288,72.000000,E,NaN,Third,G,2,0,-49,25,0.0,1.0
24,523309,6526,0,0,0,0,0,0,0,0,0,6.000000,87.000000,51.000000,I,Technology,First,E,2,518,61,109,0.0,0.0
25,508986,6534,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,67,-406,345,1.0,0.0
26,501360,6549,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,0,8,12,0.0,0.0
27,499882,6535,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,B,NaN,First,E,2,19,-4,13,0.0,0.0
28,491371,6578,0,0,0,0,0,0,0,0,0,4.000000,83.000000,42.000000,I,Others,Third,G,2,873,23,82,0.0,0.0
29,512104,6586,0,0,0,0,0,0,0,0,0,1.000000,69.000000,44.000000,B,Technology,First,E,2,16,-6,11,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74914,499306,6529,1,0,0,0,3,0,0,0,0,1.077717,78.231288,49.129811,F,NaN,Second,A,2,249,57,61,1.0,0.0
74915,490004,6529,2,0,0,0,1,0,0,0,0,2.000000,65.000000,48.000000,I,Real Estate,Second,A,2,544,17,21,0.0,0.0
74916,511268,6532,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,F,NaN,First,F,2,166,-85,100,0.0,0.0
74917,527599,6571,0,0,0,0,0,0,0,0,0,1.077717,78.231288,51.000000,D,NaN,First,E,2,251,51,54,0.0,0.0
74918,511359,6536,0,0,0,0,0,0,0,0,0,3.000000,89.000000,37.000000,E,Real Estate,Second,D,2,479,-1,2,1.0,0.0
74919,523917,6578,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,H,NaN,Third,G,2,370,-42,17,0.0,0.0
74920,486026,6537,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,F,2,8,-170,601,1.0,0.0
74921,518789,6581,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,E,NaN,First,F,2,8,-80,109,0.0,0.0
74922,521312,6578,3,2,0,0,3,1,0,0,0,0.000000,78.231288,43.000000,H,Technology,Third,G,2,111,6,65,0.0,1.0
74923,524974,6526,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,I,NaN,First,E,2,29,8,56,0.0,0.0
74924,523900,6541,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,D,NaN,Third,G,2,19,-16,42,0.0,1.0
74925,498699,6540,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,E,2,31,1,4,0.0,0.0
74926,514911,6526,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,B,NaN,First,E,2,320,30,78,0.0,0.0
74927,504873,6543,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,D,NaN,First,F,2,10,-259,512,0.0,0.0
74928,527180,6578,3,0,0,0,3,0,0,0,0,6.000000,81.000000,55.000000,C,Technology,Third,G,2,839,11,70,0.0,1.0
74929,525962,6586,11,1,0,0,1,0,0,0,0,1.077717,78.231288,49.129811,B,NaN,First,E,2,459,96,113,1.0,0.0
74930,500021,6586,0,0,0,0,0,1,0,1,0,2.000000,78.231288,46.000000,D,Technology,First,E,2,58,116,133,0.0,0.0
74931,518225,6571,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,E,NaN,First,E,2,564,55,58,0.0,0.0
74932,498131,6570,0,0,0,0,0,0,0,0,0,0.000000,78.231288,70.000000,G,NaN,First,E,2,296,-9,4,0.0,0.0
74933,525810,6543,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,A,NaN,First,F,2,152,-49,722,1.0,0.0
74934,498348,6562,0,0,0,0,0,0,0,0,0,1.000000,78.231288,35.000000,NaN,NaN,First,F,2,9,-56,134,0.0,0.0
74935,513167,6526,0,0,0,0,0,0,0,0,0,0.000000,91.000000,40.000000,H,BFSI,First,E,2,41,60,108,0.0,0.0
74936,519968,6534,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,437,-261,490,1.0,0.0
74937,502806,6527,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Third,G,2,164,-7,32,0.0,0.0
74938,522723,6562,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,A,Others,First,F,2,19,-129,61,0.0,0.0
74939,500969,6539,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,First,F,2,142,-149,40,0.0,0.0
74940,511952,6528,0,0,0,0,0,1,1,1,0,3.000000,73.000000,51.000000,I,Real Estate,Third,G,2,519,-3,71,0.0,1.0
74941,521236,6554,0,0,0,0,0,0,0,0,0,1.000000,92.000000,37.000000,G,Software Industry,First,B,2,13,26,38,1.0,0.0
74942,518817,6580,0,0,0,0,0,0,0,0,0,3.000000,76.000000,44.000000,E,Technology,First,E,2,89,0,15,0.0,0.0
74943,511284,6555,0,0,0,0,0,0,0,0,0,1.077717,78.231288,49.129811,NaN,NaN,Second,A,2,8,38,42,0.0,0.0